<form id="form" class="form-horizontal form-label-left" action="/applications/create" method="post">
    @Html.AntiForgeryToken()
    <div class="row form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">
            Mã ứng dụng
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <input id="Code" name="Code" type="text" class="form-control" placeholder="Mã ứng dụng">
        </div>
        <label class="control-label col-md-2 col-sm-2 col-xs-12">
            Tên ứng dụng
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <input id="Name" name="Name" type="text" class="form-control" placeholder="Tên ứng dụng">
        </div>
    </div>
    <div class="row form-group">
        <label class="control-label col-md-2 col-sm-2 col-xs-12">
            Mô tả
        </label>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <textarea id="Description" name="Description" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Lưu
            </button>
        </div>
    </div>
</form>