
@{
    ViewBag.Title = "Index";
}

<h2>Blank Page</h2>
<div class="x_panel">
    <div class="x_title">
        <h2>Điều kiện tìm kiếm</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form id="search-form" class="form-horizontal form-label-left" action="@Url.Action("SearchProcess", "Applications")" method="post">

            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Mã ứng dụng
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="Code" type="text" class="form-control" placeholder="Mã ứng dụng">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tên ứng dụng
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="Name" type="text" class="form-control" placeholder="Tên ứng dụng">
                        </div>
                    </div>
                </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center">
                    <input type="submit" value="Submit" />
                    <button type="submit" class="btn btn-success submit">
                        <span class="glyphicons glyphicons-search"></span>
                        Tìm kiếm
                    </button>
                    <a class="btn btn-primary" routerLink="/addnew">Thêm mới</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section script{
    <script>
        $(window).load(function () {
            NProgress.done();
        });
    </script>
}