@{
    List<Menu> list = (List<Menu>)Session["lstMenu"];
}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @*<h3>General</h3>*@
        <ul class="nav side-menu">
            @foreach (Menu m in list)
            {
                <li>
                    <a href="@Url.Action(m.Action, m.Controller)"><i class="@m.FontIcon"></i> @m.Name</a>
                </li>
            }
        </ul>
    </div>
</div>