@{ 
    List<MenuViewModel> list = (List<MenuViewModel>)Session["lstMenu"];
}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        @*<h3>General</h3>*@
        <ul class="nav side-menu">
            @foreach (MenuViewModel obj in list)
            {
                <li>
                    <a href="@Url.Action(obj.Action, obj.Controller)"><i class="@obj.MenuCss"></i> @obj.Name</a>
                </li>
            }
        </ul>
    </div>
</div>